
img{
    width: 230px;
    height: 230px;
}
.phone-frame{
    
    border: 16px solid #333;
    border-top-width: 30px;
    border-radius: 20px;
    padding: 10px;
    max-width: 400px;
    margin: auto;
}
.rounded-circle.custom-round {
    border-radius: 50%;
  }
.rounded-corners{

    border-radius:10px;
    overflow: hidden;
}
